In [1]:
from nlputils import hateSpeech

/home/victorhugo/env/lib/python3.5/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
tweets = hateSpeech.Preprocessing()

In [3]:
tweets.dataframe.head()

,Unnamed: 0,id,text,normalize
0,0,1142208313532342274,Nossa putaria é quase um poema,nossa putaria é quase um poema
1,1,1142208269513089024,ManooooKKKKKKKKK apareceu aqueles vídeos de li...,manok apareceu aqueles vídeos de ligações do b...
2,2,1142208264861626370,@felipesimoncini É putaria né ? Aqui no dique ...,é putaria né aqui no dique é frenquentar nos a...
3,3,1142208231558864896,acabei de fazer um Tinder pra minha tia e fale...,acabei de fazer um tinder pra minha tia e fale...
4,4,1142208138520776704,RT @MiiEDB: Queria viver um romance porém esta...,queria viver um romance porém estamos no sécul...

In [4]:
tweets.sett()

In [5]:
tweets.dataframe.head()

,Unnamed: 0,id,text,normalize,set,tag
0,0,1142208313532342274,Nossa putaria é quase um poema,nossa putaria é quase um poema,test,1
1,1,1142208269513089024,ManooooKKKKKKKKK apareceu aqueles vídeos de li...,manok apareceu aqueles vídeos de ligações do b...,test,1
2,2,1142208264861626370,@felipesimoncini É putaria né ? Aqui no dique ...,é putaria né aqui no dique é frenquentar nos a...,test,1
3,3,1142208231558864896,acabei de fazer um Tinder pra minha tia e fale...,acabei de fazer um tinder pra minha tia e fale...,train,0
4,4,1142208138520776704,RT @MiiEDB: Queria viver um romance porém esta...,queria viver um romance porém estamos no sécul...,test,0

In [6]:
tweets.train()

Trainning...
Finished !

/home/victorhugo/env/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/victorhugo/env/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:1544: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 3.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

In [7]:
#funcoes para salvar e carregar o modelo
from sklearn.externals import joblib
#salvar modelo
def save_model(data):
    joblib.dump(data, '../models/saved_model.pkl') 
#carregar modelo
def load_model():
    return joblib.load('../models/saved_model.pkl')

In [8]:
import os
#carrega o modelo se existir
if os.path.exists('saved_model.pkl'):
    trained_model = load_model()
else:
    #treina o modelo
    save_model(data=tweets)

In [9]:
tweets.dataframe.head()

,Unnamed: 0,id,text,normalize,set,tag
0,0,1142208313532342274,Nossa putaria é quase um poema,nossa putaria é quase um poema,test,1
1,1,1142208269513089024,ManooooKKKKKKKKK apareceu aqueles vídeos de li...,manok apareceu aqueles vídeos de ligações do b...,test,1
2,2,1142208264861626370,@felipesimoncini É putaria né ? Aqui no dique ...,é putaria né aqui no dique é frenquentar nos a...,test,1
3,3,1142208231558864896,acabei de fazer um Tinder pra minha tia e fale...,acabei de fazer um tinder pra minha tia e fale...,train,0
4,4,1142208138520776704,RT @MiiEDB: Queria viver um romance porém esta...,queria viver um romance porém estamos no sécul...,test,0

In [10]:
tweets.dataframe.groupby('tag').count()

     Unnamed: 0     id   text  normalize    set
tag
0         48164  48164  48164      48164  48164
1         37017  37017  37017      37017  37017

In [12]:
texto = "morre travesti"
tweets.verificar(texto)

AttributeError: 'Preprocessing' object has no attribute 'verificar'